/* ----------------- Tag Selectors ----------------- */
body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 175%;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #362706;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #362706;
}

h3 {
  color: #464E2E;
}

p {
  line-height: 2;
}

a {
  color: #464E2E;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: #E9E5D6;
}

hr {
  border: none;
  border-top: 5px dotted #464E2E;
  margin: 100px auto;
  width: 10%;
}

ul {
  display: flex;
  list-style-type: none;
  width: 550px;
  justify-content: space-around;
  font-size: 30px;
}

/* ----------------- Class Selectors ----------------- */
.avatar {
  width: 100px;
  height: 100px;
  margin: auto 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #ACB992;
  opacity: 0.9;
  width: 100vw;
  height: 100px;
}

/* .nav.sticky {
  position: fixed;
  top: 0;
  background-color: #ACB992;
  opacity: 0.9;
  width: 100vw;
  height: 100px;
} */

.nav-links {
  width: max-content;
}

.nav-link {
  padding: 15px;
}

.top-container {
  background-color: #ACB992;
  position: relative;
  height: 100vh;
  padding-top: 100px;
  /* padding-top: 100px; */
}

.standing {
  position: relative;
  margin: auto;
  width: auto;
  height: 40%;
}

.socials {
  position: absolute;
  right: 10px;
}

.social {
  margin: 10px;
}

.middle-container {
  background-color: #E9E5D6;
}

.headshot-img {
  width: 250px;
  border-radius: 100px;
  margin-top: 100px;
}

.profile {
  padding: 0 100px;
}

.skill-row {
  width: 75%;
  margin: 150px auto;
  text-align: left;
  line-height: 2;
}

.skills-img {
  width: 300px;
  float: left;
  margin-right: 50px;
}

.js-img {
  width: 300px;
  float: right;
  margin-left: 50px;
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-card {
  /* background-color: #ACB992; */
  height: 50%;
  width: 45%;
  border-radius: 50px;
  /* box-shadow: 3px 3px 30px; */
  margin: 25px auto;
}

.project-img {
  margin-top: 25px;
  width: 300px;
  border-radius: 200px;
}

.project-line {
  margin: 20px auto;
}

.project-link:hover {
  color: #362706;
  font-size: 1.8rem;
}

.subtext {
  margin: auto 20px;
}

.bottom-container {
  background-color: #ACB992;
  padding: 50px 0 10px;
}

.contact-text {
  font-size: 1.8rem;
  color: #362706;
  font-weight: 400;
}

.contact-text-link {
  font-size: 1.3rem;
}

.btn {
  background: #617036;
  background-image: -webkit-linear-gradient(top, #617036, #464E2E);
  background-image: -moz-linear-gradient(top, #617036, #464E2E);
  background-image: -ms-linear-gradient(top, #617036, #464E2E);
  background-image: -o-linear-gradient(top, #617036, #464E2E);
  background-image: linear-gradient(to bottom, #617036, #464E2E);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  color: #E9E5D6;
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #464E2E;
  background-image: -webkit-linear-gradient(top, #464E2E, #292b21);
  background-image: -moz-linear-gradient(top, #464E2E, #292b21);
  background-image: -ms-linear-gradient(top, #464E2E, #292b21);
  background-image: -o-linear-gradient(top, #464E2E, #292b21);
  background-image: linear-gradient(to bottom, #464E2E, #292b21);
  text-decoration: none;
}

.btn-container {
  padding: 25px 0 75px 0;
}

.footer-link {
  margin: 0 25px;
}

.copyright {
  font-size: 0.9rem;
  padding: 20px 0 10px;
}
