/* ----------------- Tag Selectors ----------------- */
body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 175%;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #362706;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #362706;
}

h3 {
  color: #464E2E;
}

a {
  color: #464E2E;
}

/* ----------------- Class Selectors ----------------- */
.top-container {
  background-color: #ACB992;
  position: relative;
  padding-top: 100px;
}

.cloud-top {
  position: absolute;
  top: 50px;
  right: 350px;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  background-color: #E9E5D6;
}

.headshot-img {
  width: 250px;
  border-radius: 100px;
  margin-top: 30px;
}

.skill-row {
  width: 75%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skills-img {
  width: 300px;
  float: left;
  margin-right: 100px;
}

.js-img {
  width: 300px;
  float: right;
  margin-left: 100px;
}

.bottom-container {
  background-color: #ACB992;
}
