/* ----------------- Tag Selectors ----------------- */
body {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 200%;
}

h1 {
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #54BAB9
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #54BAB9
}

h3 {
  color: #E9DAC1;
}

a {
  color: #E9DAC1;
}

/* ----------------- Class Selectors ----------------- */
.top-container {
  background-color: #F7ECDE;
  position: relative;
  padding-top: 100px;
}

.cloud-top {
  position: absolute;
  top: 50px;
  right: 350px;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  background-color: #FBF8F1;
}

.headshot-img {
  width: 250px;
  border-radius: 100px;
}

.skills-img {
  width: 300px;
}

.js-img {
  width: 300px;
}

.bottom-container {
  background-color: #F7ECDE;
}
